{% extends "base.html" %}
{% load static %}

<!-- Titre de la page-->
{% block title %} Public Profile - SmartCity {% endblock %}

{% block content %}

<h1>Profil Public</h1>
<ul>
    <li><strong>Pseudonyme:</strong> {{ username }}</li>
    <li><strong>Sexe:</strong> {{ sexe }}</li>
    <li><strong>Date de naissance:</strong> {{ birth_date }}</li>
    <li><strong>Type de membre:</strong> {{ role }}</li>
    {% if photo_url %}
    <li><img src="{{ photo_url }}" alt="Photo de profil" style="width:150px;"></li>
    {% endif %}
</ul>

{% endblock %} 