{% extends "base.html" %}
{% load static %}

<!-- Titre de la page-->
{% block title %} Profils Publics - SmartCity {% endblock %}

{% block content %}

<div class="hero-content">
    <h2>Vos profils publics</h2>
    <p class="hero-description">Bienvenue dans vos profils publics.</p>
    
    <div class="profile-section">
        {% if photo_url %}
        <div class="profile-item">
            <strong>Photo de profil :</strong> 
            <img src="{{ photo_url }}" alt="Photo de profil" style="width:150px;"> 
        </div>
        {% endif %}
        <h3>Vos Profils Publics</h3>
        <div class="profile-item">
            <strong>Pseudonyme :</strong> 
            <p>{{ username }}</p>
        </div>
        <div class="profile-item">
            <strong>Sexe :</strong> 
            <p>{{ sexe }}</p>
        </div>
        <div class="profile-item">
            <strong>Date de naissance :</strong> 
            <p>{{ birth_date }}</p>
        </div>
        <div class="profile-item">
            <strong>Type de membre :</strong> 
            <p>{{ role }}</p>
        </div>
</div>
</div>
{% endblock %} 