{% extends "base.html" %}
{% load static %}

{% block title %} Acceuil - Dashboard {% endblock %}


{% block content %}
<!-- Main Content -->
<div class="hero-content">
    <h2>Mon Dashboard</h2>
    <div class="home-select">
        <form method="get">
            <label for="house_id">Choisissez une maison :</label>
            <select name="house_id" id="house_id" onchange="this.form.submit()">
                <option value="">-- Sélectionnez une maison --</option>
                {% for house in houses %}
                <option value="{{ house.id }}" {% if house.id == selected_house.id %}selected{% endif %}>
                    {{ house.name }}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="selected-house">
        {% if selected_house %}
        <h2 class="house-title">{{ selected_house.name }}</h2>
        {% if profile %}
        {% if profile.access %}
        <h3>Entités</h3>
        <ul>
            {% for entity in entities %}
            <li>{{ entity.type }} - {% if entity.on %}✅{% else %}❌{% endif %}</li>
            {% endfor %}
        </ul>

        <h3>Flux</h3>
        <ul>
            {% for flux_type, values in flux_summary.items %}
            <li>{{ flux_type }} : {{ values|join:", " }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>⛔ Vous n'avez pas accès à cette maison.</p>
        <form method="post" action="{% url 'RequestAccess' selected_house.id %}">
            {% csrf_token %}
            <button class="auth-button">Demander l'accès</button>
        </form>
        {% endif %}
        {% else %}
        <p>Vous n'avez aucun profil pour cette maison.</p>
        <form method="post" action="{% url 'RequestAccess' selected_house.id %}">
            {% csrf_token %}
            <button class="auth-button">Demander l'accès</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}